<!-- Encabezado -->
<div class="flex encabezado mt-5 mx-28 shadow-2xl">
    <div class="w-2/3 grid justify-items-stretch texto-encabezado"> 
        <p class="text-5xl text-white justify-self-start">Green Leaves</p>
    </div>
    <div class="w-1/3 grid justify-items-stretch"> 
        <img class="w-1/2 justify-self-end" src="/assets/img/hoja.png"/>
    </div>
</div>

<!-- Formulario -->
<div>
    <form   (ngSubmit)="registro($event)" 
            [formGroup]="form"
            class="border-2 border-grey rounded-lg p-5 mx-24 mt-10">
        <!-- Nombre -->
        <div class="mt-2 flex flex-col">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput  type="text" id="nombre" name="nombre" placeholder="Nombre"
                formControlName="nombre"/>
              </mat-form-field>
              <!-- Mensaje de error -->
              <mat-error *ngIf="nombreFiel.touched && nombreFiel.hasError('required')">
                    El Nombre es <strong>requerido</strong>
              </mat-error>
        </div>
        <!-- Correo -->
        <div class="mt-2 flex flex-col">
            <mat-form-field class="example-full-width">
                <mat-label>Correo</mat-label>
                <input matInput  type="email" id="mail" name="mail" placeholder="Emial"
                formControlName="mail"/>
              </mat-form-field>    
                <!-- Mensaje de error -->
                <mat-error *ngIf="mailFiel.touched && mailFiel.hasError('required')">
                    El Email es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="mailFiel.touched && mailFiel.hasError('email')">
                    Formato de correo <strong>inválido</strong>
                </mat-error>
        </div>

        <!-- Teléfono -->
        <div class="mt-2 flex flex-col">
            <mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput type="tel" placeholder="Teléfono"
                formControlName="telefono"/>
              </mat-form-field>    
              <mat-error *ngIf="telefonoFiel.touched && telefonoFiel.hasError('required')">
                El teléfono es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="telefonoFiel.touched && telefonoFiel.hasError('pattern')">
                Formato de teléfono <strong>inválido</strong>
            </mat-error>
        </div>
        <!-- Fecha -->
        <div class="mt-2 flex flex-col">
            <mat-form-field >
                <mat-label>Fecha</mat-label>
                <input class="w-full mr-5 my-5 self-start mb-2 font-medium text-gray-800" matInput [matDatepicker]="dob" formControlName="fecha">
                <mat-datepicker-toggle  matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
            </mat-form-field> 
            <mat-error *ngIf="fechaFiel.touched && fechaFiel.hasError('required')">
                La fecha es <strong>requerida</strong>
            </mat-error>
        </div>
        <!-- Direccion -->
        <div class="mt-2 flex flex-col">
            <mat-form-field class="example-full-width">
                <mat-label>Direccion</mat-label>
                <input type="text"
                       placeholder="Ciudad-Entidad-Pais"
                       aria-label="Number"
                       matInput
                       formControlName="direccion"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNombreCompleto">
                  <mat-option *ngFor="let direccion of direccionesFiltradas | async" [value]="direccion">
                    <span> {{direccion.pais}}, </span>
                    <span> {{direccion.entidad}}, </span>
                    <span> {{direccion.ciudad}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error *ngIf="fechaFiel.touched && fechaFiel.hasError('required')">
                La dirección es <strong>requerida</strong>
            </mat-error>
        </div>
        <!-- Botón -->
        <div class="grid justify-items-stretch">
            <div class="justify-self-center">
                <button mat-raised-button type="submit">Enviar</button>
            </div>
          </div>
    </form>
</div>

